@page "/users"
@inject IUserService UserService

<PageTitle>Users</PageTitle>

<h1>Users</h1>

@if (_users == null)
{
    <h1>Loading...</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<User>? _users;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _users = await UserService.GetAll();
        StateHasChanged();
    }
}
